{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic",
    "plugin:svelte/recommended",
    "plugin:svelte/prettier",
    "plugin:deprecation/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "extraFileExtensions": [".svelte"],
    "sourceType": "module",
    "project": "tsconfig.lint.json"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": { "parser": "@typescript-eslint/parser" }
    }
  ],
  "rules": {
    "deprecation/deprecation": "warn",
    "no-console": "error"
  }
}
