[submodule "lib/api"]
	path = lib/api
	url = git@github.com:enclavetech/lib-api-js

[submodule "lib/kms"]
	path = lib/kms
	url = git@github.com:enclavetech/kms
	
[submodule "lib/sveltekit-validator"]
	path = lib/sveltekit-validator
	url = git@github.com:aidlran/sveltekit-validator
