{
  "jsxSingleQuote": false,
  "printWidth": 110,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "plugins": ["prettier-plugin-prisma", "prettier-plugin-svelte"]
}
