:root {
  --shadow: -4px -4px 24px 4px #5a5a7010;
}

body {
  overflow-x: hidden;
  color: var(--ion-text-color);
}

p.error {
  color: var(--ion-color-danger);
}

label,
input,
select {
  border-radius: 12px;
}

/* TODO: solve z-index issue */
label {
  position: relative;
  display: block;
  margin-bottom: 38px;
  padding: 6px 8px 0;
  font-size: 0.8rem;
  color: var(--ion-color-dark-shade);
  user-select: none;
  white-space: nowrap;
}

label.error {
  color: var(--ion-color-danger);
}

input,
select {
  font-size: 1.1rem;
  padding: 8px;
  background: none;
  border: none;
  outline: 1px solid var(--ion-border-color);
}

select {
  width: 100%;
  cursor: pointer;
  /* disable appearance for Safari, implement custom arrow style */
  appearance: none;
  background-image: url("data:image/svg+xml,<svg height='16px' width='16px' viewBox='0 0 16 16' fill='%235a5a70ff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
}

input {
  width: calc(100% - 18px);
}

label > input,
label > select {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 28px;
}

label.error input,
label.error select {
  outline-color: var(--ion-color-danger);
}

input:focus:not([type='submit']),
select:focus {
  outline-width: 2px;
}

input[type='submit'] {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition-duration: 100ms;
}

/* TODO: a.button and button to have similar style */

input[type='submit']:not(:disabled) {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    240deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 20%,
    rgba(131, 58, 180, 1) 100%
  );
  color: #fff;
  cursor: pointer;
}

.card {
  padding: 14px 24px;
  border: 2px solid var(--ion-border-color);
  border-radius: 18px;
  background: var(--ion-item-background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: var(--shadow);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0002;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
}
